<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Acknowledgements-Widgets</string>
			<key>File</key>
			<string>Pods-Lockdown-Widgets-settings-metadata</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Acknowledgements-Tunnel</string>
			<key>File</key>
			<string>Pods-LockdownTunnel-settings-metadata</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Acknowledgements-Lockdown</string>
			<key>File</key>
			<string>Pods-Lockdown-settings-metadata</string>
		</dict>
	</array>
</dict>
</plist>
